<div class="container">
    <mat-tab-group>
        <mat-tab>
            <ng-template matTabLabel>
                <span matBadgeOverlap="false">My connects</span>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template matTabLabel>
                <span matBadgeOverlap="false">Followers</span>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template matTabLabel>
                <span matBadgeOverlap="false">Following</span>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>