.post-container {
    display: flex;
    padding: 2%;
    background-color: white;
    border: 1px solid rgb(231, 226, 226);
    border-radius: 15px;

    .add-post-button {
        border: 1px solid gray;
        color: gray;
        background-color: white;
        padding: 2%;
        margin-left: 10px;
        width: 100%;
        border-radius: 20px;
        text-align: left;
    }

    .add-post-button:hover {
        background-color: rgb(255, 252, 252);
    }
}

.loader {
    position: fixed;
    top: 40%;
    left: 45%;
}

.profile-image {
    margin-top: 5px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.profile-image:hover {
    cursor: pointer;
}

.close-icon {
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 2px;
    margin-right: 2px;
    margin-left: auto;
    background-color: red;
    color: white;
}

.close-icon:hover {
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;

    .button {
        margin-left: 10px;
        border-radius: 15px;
    }
}

.header {
    display: flex;
    padding: 10px;
}

.username {
    margin-left: 10px;
    padding: 0;


}

h4,
h5 {
    margin: 0;
    padding: 0;
    font-weight: bold;
}