@import '../node_modules/font-awesome/css/font-awesome.css';

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(245, 253, 245);
}

.profile-image {
    margin-top: 5px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.profile-image:hover {
    cursor: pointer;
}