<div class="navigation-container">
    <mat-toolbar class="toolbar">
        <!-- Logo icon -->
        <a routerLink="/home"><img src="./assets/logo.png" class="logo" height="40px"></a>
        <!-- search bar -->
        <input *ngIf="isUserLogin()" matInput class="search-input" placeholder="Search...">

        <!-- network, message and notification options -->
        <a *ngIf="isUserLogin()" routerLinkActive="class" routerLink="/newnote" class="navigation-option network"
            matTooltip="My Network"><mat-icon>group_add</mat-icon></a>

        <a *ngIf="isUserLogin()" routerLink="/newnote" routerLinkActive="class" class="navigation-option message"
            matTooltip="Messages"><mat-icon> message</mat-icon></a>

        <a *ngIf="isUserLogin()" routerLink="/newnote" routerLinkActive="class" class="navigation-option notifications"
            matTooltip="Notifications"><mat-icon>notifications</mat-icon></a>

        <!-- profile option -->
        <div *ngIf="isUserLogin()" class="dropdown">
            <img [src]="imageUrl ? imageUrl : 'assets/empty_profile.png'" height="20" style="border-radius: 50%;" />
            <div class="dropdown-content">
                <a *ngIf="isUserLogin()" routerLink="/profile" routerLinkActive="class">Profile</a><br>
                <a *ngIf="isUserLogin()" (click)="logOut()">Log out</a>
            </div>
        </div>

        <!-- login and register -->
        <a *ngIf="!isUserLogin()" routerLinkActive="class" class="login" routerLink="/login">Log In</a>
        <a *ngIf="!isUserLogin()" routerLinkActive="class" class="register" routerLink="/register">Register</a>
    </mat-toolbar>
</div>